.capsules-scroll-container {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  width: 1250px;
  margin: 20px auto;
  align-items: center;
  transform: translateY(-8px);
}

.capsules-row {
  display: inline-flex;
  gap: 13px;
  padding-left: 10px;
  align-items: flex-start;
}

.capsule {
  
  height: auto;
  padding: 5.08px 16.94px;
  border-radius: 25px;
  color: #707070;
  border: 0.85px solid #D2D2D2;
  background-color: white;
  font-family: Inter, sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.capsule.active {
  background-color: black;
  color: white;
  border-color: black;
}